*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    /* background-color: aqua; */
}

.apply_box{
   max-width: 600px;
   padding: 20px;
   background-color: white;
   margin:  auto;
   margin-top: 20%;
   box-shadow: 4px 3px 5px rgba(1,1,1,0.1);
   border-radius: 10px;
}
.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-area: 20px;
    

}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}
input , select , textarea{
    padding: 6px 10px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 15px;
    margin-right: 5px;
}
input:focus{
    outline-color: red;
}
.button_container{
    display: flex;
    justify-content: end;
    margin: 20px;
}
button{
    background-color: aquamarine;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: gray;
    border: 2px solid red;
    cursor: pointer;
    transition: 0.3s ease-out;
}
